/* src/CardSlider.css */
.card-slider {
    overflow: hidden;
    width: 100%;
  }
  
  .card-slider-inner {
    display: flex;
    transition: transform 0.5s ease; /* Animation effect */
  }
  
  .card-wrapper {
    flex: 0 0 33.33%; /* Show 3 cards at a time */
    padding: 10px; /* Add some padding */
  }
  .feedback-card{
    border-width: 3px !important;
  }
  .feedback-section{
    height: 100vh;
  }